.chart{
    flex: 5;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.477);
    -webkit-box-shadow: 1px 2px 8px 4px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    color: gray;
    padding: 15px;
    margin-left: 10px;
    overflow-y: hidden;
    .responsiveCon{
        

        .areachart{
            overflow-y: hidden;
        }
    }
    .title{
     
        .chartGrid{
            stroke: lightgray;
        }
    }

}