.home{
  
   display: flex;
   .homeContainer{
   //  background-color: aqua;
    flex: 6;
    .widgets{
      display: flex;
      padding: 20px;
    }
    .charts{
      display: flex;
      padding: 5px 20px;
      // overflow-y: hidden;  
     
    }
    .listContainer{
      box-shadow: 1px 2px 8px 4px rgba(183, 91, 91, 0.79);
      -webkit-box-shadow: 1px 2px 8px 4px rgba(218, 191, 191, 0.79);
      // -moz-box-shadow: 1px 2px 8px 4px rgba(218, 191, 191, 0.79);
      padding: 20px;
      margin: 20px;
      .listTitle{
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }

   }
}
