.datatable{

// font-size: large;
 height: 600px;
 padding: 20px;
 
 .cellWithImg{
    display: flex;
    align-items: center;
    .cellImg{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;

    }
 }
 .cellWithStatus{
    padding: 5px;
    border-radius: 5px;
  
    &.active{
        background-color: rgba(0, 128, 0, 0.164);
        color: green;
    }
    &.passive{
        background-color: rgba(220, 20, 60, 0.241);
        color: crimson;
    }
    &.pending{
        background-color: rgba(218, 165, 32, 0.126);
        color: goldenrod;
    }
 }
  .cellAction{
    display: flex;
    align-items: center;
    gap: 15px;
    .viewBtn{
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted darkblue;
        cursor: pointer;
    }
    .deleteBtn{
        padding: 2px 5px;
        border-radius: 5px;
        color: darkred;
        border: 1px dotted darkred;
        cursor: pointer;

    }
  }
}